<div class="container-fluid" ng-controller="articlesController as vm" ng-init="vm.reload()">

    <h3>Редактирование Статьи</h3>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group label-static">
                <label class="control-label">Название</label>
                <input type="text" class="form-control" ng-model="vm.article.Title" placeholder="Название">
                <span class="material-input"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group label-static">
                <label class="control-label">Период статьи С:</label>
                <input type="date" class="form-control" ng-model="vm.article.Period.Begin">
                <span class="material-input"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group label-static">
                <label class="control-label">Период стать ПО:</label>
                <input type="date" class="form-control" ng-model="vm.article.Period.End">
                <span class="material-input"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group label-static">
                <label class="control-label">Содержание статьи:</label>
                <textarea class="form-control" rows="3" ng-model="vm.article.Comment"></textarea>
                <!--<span class="help-block">Содержание статьи или описание коллекции фотографий.</span>-->
            </div>
        </div>
    </div>

    <div class="row" id="block-members">
        <div class="col-xs-12">
            <div>
                <h4 style="display: inline-block;">Участники</h4>
                <member-list members="vm.article.Persons"></member-list>
            </div>
            <div>
                <div ng-repeat="member in vm.article.Persons"
                     avatar="member.Avatar" data-size="50" data-alternate="{{member.nameFull}}"
                     style="position: relative; display: inline-block; padding: 5px;">
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="block-article-buttons">
        <div class="col-xs-12">
            <div class="pull-right">
                <button type="button" class="btn btn-sm btn-default btn-raised"
                        ng-click="navigationService.navigateToArticleList()">
                    Отменить
                </button>
                <button type="submit" class="btn btn-sm btn-primary btn-raised" ng-click="vm.updateArticle()">
                    Сохранить
                </button>
            </div>
        </div>
    </div>

    <div class="row" id="block-materials">
        <div class="col-xs-12">
            <h4>Материалы</h4>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center" ng-repeat="material in vm.article.Materials">
                        <article-material data-material="material"
                                          data-edit-material="vm.showUpdateMaterialDialog(material)"
                                          data-remove-material="vm.showDeleteMaterialDialog(material)"></article-material>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center" style="border: 1px dashed gray">
                    <file-upload data-multiple-files="true" data-file-uploaded="vm.fileUploaded(file)"></file-upload>
                </div>
            </div>
        </div>
    </div>

    <div id="delete-material-dialog" class="modal fade in" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Удаление материала</h4>
                </div>
                <div class="modal-body">
                    <p>Действительно Вы хотите удалить данный материал???</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal"
                            ng-click="vm.deleteMaterial()">
                        Удалить
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="update-material-dialog" class="modal fade in" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Редактирование материала</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group label-static">
                                <label class="control-label">Название</label>
                                <input type="text" class="form-control" ng-model="vm.materialToUpdate.Title"
                                       placeholder="Название">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group label-static">
                                <label class="control-label">Дата</label>
                                <input type="date" class="form-control" ng-model="vm.materialToUpdate.Date">
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="form-group">
                                <label class="control-label">Комментарий:</label>
                                <textarea class="form-control" rows="3" ng-model="vm.materialToUpdate.Comment">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal"
                            ng-click="vm.updateMaterial()">
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

