<div ng-controller="articlesController as vm" ng-init="vm.reload()">

    <div class="loading"><i class="mdi mdi-36px mdi-autorenew rotating"></i></div>

    <div class="container-fluid sxmg">
        <div class="row">
            <article-card data-article="vm.article"></article-card>
        </div>
        <div class="row" ng-if="vm.article.Comment">
            <div class="col-xs-12" style="padding: 10px 50px;">
                <h4>Описание:</h4>
                <p>{{vm.article.Comment}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding: 10px 50px;">
                <h4>Материалы:</h4>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="material in vm.article.Materials" class="col-xs-6 col-sm-4 col-md-4 col-lg-3 text-center">
            <!--<div ng-repeat="material in vm.article.Materials | orderBy:'Date':true"-->
                 <!--style="display:inline-block;margin: 10px;">-->
                <!--<div class="sxmg-item">-->
                    <!--<img ng-src="{{vm.getMaterialThumbnailUrl(material)}}">-->
                <!--</div>-->
                <!--{{material.ID}}-->
                <img class="sxmg-item" data-id="{{material.Url}}" ng-src="{{material.ThumbnailUrl}}">
                <!--<img class="sxmg-item" data-url="{{material.Url}}" ng-src="{{vm.getMaterialThumbnailUrl(material.Url)}}">-->
            </div>
        </div>
    </div>
    <div style="position: fixed; bottom: 20px; right:20px;" ng-if="authService.isRedactor()">
        <button type="button" class="btn btn-warning btn-fab"
                ng-click="navigationService.navigateToArticleModify(vm.article.ID)">
            <i class="mdi mdi-pencil"></i>
        </button>
    </div>
</div>