<div class="" ng-controller="personsController as vm" ng-init="vm.reloadWithArticles()">

    <div class="loading"><i class="mdi mdi-36px mdi-autorenew rotating"></i></div>

    <person-card data-person="vm.person" data-show-edit-button="false"></person-card>

    <article-list data-articles="vm.articles" data-filter="false"></article-list>

    <div style="position: fixed; bottom: 20px; right:20px;" ng-if="authService.isRedactor()">
        <button type="button" class="btn btn-warning btn-fab"
                ng-click="navigationService.navigateToPersonModify(vm.person.ID)">
            <i class="mdi mdi-pencil"></i>
        </button>
    </div>
</div>