@import "variables";

@keyframes display-with-delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes display-rotating {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@each $color in $random-color-list {
  .brd-#{$color} {
    border: 1px solid #{$color};
  }
}

@each $size in $size-name-list {
  @media #{nth($media-query-list, index($size-name-list, $size))}{
    @each $align in $horizontal-align-list {
      .text-#{$size}-#{$align} {
        text-align: $align !important;
      }
    }
  }
}