@import "variables";

.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
  font-family: Roboto,Calibri,Helvetica,Arial,sans-serif;
  font-weight: 300;
}

.loading{
  position: fixed;
  top: 50%;
  left: 50%;
}

.error{
  background-color: indianred;
}

.rotating{
  -webkit-animation: display-rotating 2s infinite linear;
  animation: display-rotating 2s infinite linear;
}

img.avatar {
  width: 100px;
  height: 100px;
  padding: 2px;
  //box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

  &.clickable {
    &:hover {
      cursor: pointer;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }
  }
}

.snackbar{
  &.success{
    background-color: #2e7d32;
  }
  &.error{
    background-color: #a94442;
  }
}

.card {
  position: relative;
  display: block;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;

  &.raised {
    background-color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  }

  .title {
    margin-top: 10px;
  }

  .block-container {
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &.block-container-top {
      justify-content: flex-start;
    }
    &.block-container-middle {
      justify-content: center;
    }
    &.block-container-bottom {
      justify-content: flex-end;
    }
    &.block-container-left {
      align-items: flex-start;
    }
    &.block-container-center {
      align-items: center;
    }
    &.block-container-right {
      align-items: flex-end;
    }
  }

  .block {
    //display: inline-block;
    //vertical-align: middle;
  }

  .buttons {
    z-index: 10;
    display: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  &:active, &:hover, &:visited {
    text-decoration: none;
  }

  &:hover {
    transition: all 0.5s ease;

    &.raised {
      background-color: rgba(245, 245, 245, 0.8);
      box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
    }

    &.clickable {
      background-color: rgba(255, 255, 255, 0.8);
      cursor: pointer;

      .buttons {
        display: block;
        animation: display-with-delay 2s;
      }
    }
  }
}

.person-card, .article-card {
  @extend .card;
}

.person-card {
  min-height: 120px;
  .block-container {
    min-height: 120px;
  }
}

.article-card {
  min-height: 120px;
  .block-container {
    min-height: 120px;
  }
  .text-primary {
    font-weight: bold;
  }
}

.material-box {
  position: relative;
  display: inline-block;
  margin: 10px;
  max-width: 200px;
  max-height: 200px;

  img.icon {
    background: white;
    border-radius: 3px;
    border: 1px solid gray;
    padding: 5px;
    height: 200px;
  }

  .buttons {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 3px;
    background: rgba(0, 0, 0, 0.5);
  }

  &:hover {
    transition: all 0.2s ease;

    .buttons {
      display: block;
      animation: display-with-delay 1s;
    }
  }
}

.sxmg {
  img.sxmg-item {
    background: white;
    border-radius: 3px;
    border: 1px solid gray;
    padding: 2px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    @media #{$media-query-xs} {
      height: 100px;
      max-width: 300px;
      max-height: 100px;
    }
    @media #{$media-query-sm} {
      height: 150px;
      max-width: 400px;
      max-height: 150px;
    }
    @media #{$media-query-md} {
      height: 200px;
      max-width: 600px;
      max-height: 200px;
    }
    &:hover {
      cursor: pointer;
      //background: lightgray;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
    }
  }
}