$default-size-name-list: xs sm md lg xl;
$default-align-list: left center right;
$random-color-list: red green blue yellow white black;

/* Media Sizes */
$media-xs: 320px;
$media-sm: 480px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;

/* Media Queries */
$media-continuous-query-xs: "only screen and (min-width : " #{$media-xs - 1} ")";
$media-continuous-query-sm: "only screen and (min-width : " #{$media-sm} ")";
$media-continuous-query-md: "only screen and (min-width : " #{$media-md} ")";
$media-continuous-query-lg: "only screen and (min-width : " #{$media-lg} ")";
$media-continuous-query-xl: "only screen and (min-width : " #{$media-xl} ")";

$media-continuous-query-list: $media-continuous-query-xs, $media-continuous-query-sm, $media-continuous-query-md, $media-continuous-query-lg, $media-continuous-query-xl;
