$default-size-name-list: xs sm md lg xl;
$bootstrap-size-name-list: xs sm md lg;
$default-align-list: left center right;
$random-color-list: red green blue yellow white black;

/* Media Sizes */
$media-xs: 240px;//320px;
$media-sm: 480px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;

/* Media Queries */
$media-query-xs: "only screen and (min-width : " #{$media-xs} ")";
$media-query-sm: "only screen and (min-width : " #{$media-sm} ")";
$media-query-md: "only screen and (min-width : " #{$media-md} ")";
$media-query-lg: "only screen and (min-width : " #{$media-lg} ")";
$media-query-xl: "only screen and (min-width : " #{$media-xl} ")";

$bootstrap-media-query-xs: "only screen and (max-width : 767px)";
$bootstrap-media-query-sm: "only screen and (min-width : 768px)";
$bootstrap-media-query-md: "only screen and (min-width : 992px)";
$bootstrap-media-query-lg: "only screen and (min-width : 1200px)";

$media-continuous-query-list: $media-query-xs, $media-query-sm, $media-query-md, $media-query-lg, $media-query-xl;
