<div class="row">
    <div class="col-xs-12">
        <div>Select an image file: <input type="file" id="fileInput" /></div>
        <div class="cropArea" style="overflow: hidden;height: 100px;">
            <img-crop image="vm.avatarFile" result-image="vm.avatar"></img-crop>
        </div>
        <div>Cropped Image:</div>
        <div><img ng-src="{{vm.avatar}}" /></div>
    </div>
    <div class="col-sm-12">
        <div class="togglebutton">
            <label>
                <span>Женщина</span>
                <input type="checkbox" ng-model="vm.person.Data.Gender" ng-true-value="1" ng-false-value="2">
                <span class="toggle">
                </span><span>Мужчина</span>
            </label>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group label-floating">
            <label class="control-label">Фамилия</label>
            <input type="text" class="form-control" ng-model="vm.person.Data.Name.Last">
            <span class="material-input"></span>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group label-floating">
            <label class="control-label">Девичья фамилия</label>
            <input type="text" class="form-control" ng-model="vm.person.Data.Name.Maiden">
            <span class="material-input"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group label-floating">
            <label class="control-label">Имя</label>
            <input type="text" class="form-control" ng-model="vm.person.Data.Name.First">
            <span class="material-input"></span>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group label-floating">
            <label class="control-label">Отчество</label>
            <input type="text" class="form-control" ng-model="vm.person.Data.Name.Second">
            <span class="material-input"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">Дата рождения</label>
            <input type="date" class="form-control" ng-model="vm.person.Data.DateBirth">
            <span class="material-input"></span>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">Дата смерти</label>
            <input type="date" class="form-control" ng-model="vm.person.Data.DateDeath">
            <span class="material-input"></span>
        </div>
    </div>
</div>