<button id="add-member-button" type="button" class="btn btn-sm btn-info" style="display:none;"
        data-target="#add-member-dialog" data-toggle="modal">
    Редактировать
</button>

<div id="add-member-dialog" class="modal fade in" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Участники</h4>
            </div>
            <div class="modal-body" style="padding: 2px;">
                <div class="container-fluid" style="padding: 0;">
                    <div class="row">
                        <div class="col-xs-12" style="min-height: 70px;">
                            <div ng-repeat="member in members"
                                 avatar="member.Avatar" data-size="50" data-alternate="{{member.Name}}"
                                 style="position: relative; display: inline-block; padding: 5px;">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" style="padding: 0 70px;">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">Поиск</label>
                                <input type="search" class="form-control" ng-model="vm.filter">
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-repeat="person in vm.persons | personSearch:vm.filter"
                         style="padding-bottom: 10px;margin:0;">
                        <div class="col-xs-3 text-center" style="padding: 0;">
                            <div class="vertical-align text-center"
                                 avatar="person.Avatar" data-size="50" data-alternate="{{person.nameFull}}">
                            </div>
                        </div>
                        <div class="col-xs-5" style="padding: 0 2px;">
                            <div class="vertical-align">
                                {{person.getNameFirstLine()}}<br>{{person.getNameSecondLine()}}
                            </div>
                        </div>
                        <div class="col-xs-4" style="padding: 0 3px 0 0;">
                            <div class="block vertical-align text-right">
                                <button type="button" class="btn btn-sm btn-primary"
                                        ng-if="!vm.existMember(person.ID)" ng-click="vm.addMember(person)">
                                    Добавить
                                </button>
                                <button type="button" class="btn btn-sm btn-danger"
                                        ng-if="vm.existMember(person.ID)" ng-click="vm.removeMember(person.ID)">
                                    Удалить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</div>
