<div ng-controller="authController as vm" ng-init="vm.reload()">
    <nav class="navbar navbar-default navbar-fixed-top navbar-static-top ">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-default-collapse">
                    <i class="mdi mdi-menu"></i>
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                </button>
                <a class="navbar-brand" href="#/">
                    <i class="mdi mdi-human-male-female"></i>
                    Семейный Архив
                </a>
            </div>
            <div class="navbar-collapse collapse navbar-default-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/persons">Члены семьи</a></li>
                    <li><a href="#/articles">Статьи</a></li>
                    <!--<li class="dropdown">-->
                    <!--<a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown-->
                    <!--<b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="javascript:void(0)">Action</a></li>-->
                    <!--<li><a href="javascript:void(0)">Another action</a></li>-->
                    <!--<li><a href="javascript:void(0)">Something else here</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li class="dropdown-header">Dropdown header</li>-->
                    <!--<li><a href="javascript:void(0)">Separated link</a></li>-->
                    <!--<li><a href="javascript:void(0)">One more separated link</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>
                <!--<form class="navbar-form navbar-left">-->
                <!--<div class="form-group">-->
                <!--<input type="text" class="form-control col-md-8" placeholder="Search">-->
                <!--</div>-->
                <!--</form>-->
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="vm.token == null || !vm.token.isAuthenticated()">
                        <a href="#/login">Войти</a>
                    </li>
                    <li class="dropdown" ng-if="vm.token && vm.token.isAuthenticated()">
                        <a href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{vm.token.Name.First + ' ' + vm.token.Name.Last}}
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" ng-click="vm.showInviteGuestDialog();$event.preventDefault();">
                                    Пригласить
                                </a>
                            </li>
                            <li>
                                <a href="#" ng-click="vm.exit();$event.preventDefault();">
                                    Выйти
                                </a>
                            </li>
                        </ul>
                    </li>


                </ul>
            </div>
        </div>
    </nav>

    <div id="invite-guest-dialog" class="modal fade in" tabindex="-1">
        <form ng-submit="vm.inviteGuest()">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Пригласить Гостя</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group label-static">
                                        <label class="control-label">Имя</label>
                                        <input type="text" class="form-control"
                                               ng-model="vm.guest.NameFirst" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group label-static">
                                        <label class="control-label">Фамилия</label>
                                        <input type="text" class="form-control"
                                               ng-model="vm.guest.NameLast">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group label-static">
                                        <label class="control-label">Email</label>
                                        <input type="email" class="form-control"
                                               ng-model="vm.guest.Email">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group label-static">
                                        <label class="control-label">Телефон</label>
                                        <input type="text" class="form-control"
                                               ng-model="vm.guest.Phone">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group label-static">
                                        <label class="control-label">Логин</label>
                                        <input type="text" required class="form-control"
                                               ng-model="vm.guest.Login">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group label-static">
                                        <label class="control-label">Время действия (часы)</label>
                                        <input type="number" required class="form-control"
                                               ng-model="vm.guest.Hours">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group label-static">
                                        <label class="control-label">Пароль</label>
                                        <input type="password" class="form-control"
                                               ng-model="vm.guest.Password" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group label-static">
                                        <label class="control-label">Подтверждение пароля</label>
                                        <input type="password" class="form-control"
                                               ng-model="vm.guest.PasswordConfirm" required>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Пригласить
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>