<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="form-group label-floating is-empty">
                <label class="control-label">Поиск</label>
                <input type="search" class="form-control" ng-model="vm.filter">
            </div>
        </div>
    </div>
    <div ng-repeat="person in persons | personSearch:vm.filter | orderBy:'nameFull'" ng-if="$index % 2 == 0"
         class="row">
        <div class="col-md-6 col-xs-12">
            <person-card data-person="(persons | personSearch:vm.filter | orderBy:'nameFull')[$index]"
                         data-classes="clickable"></person-card>
        </div>
        <div class="col-md-6 col-xs-12"
             ng-if="(persons | personSearch:vm.filter | orderBy:'nameFull').length > ($index + 1)">
            <person-card data-person="(persons | personSearch:vm.filter | orderBy:'nameFull')[$index + 1]"
                         data-classes="clickable"></person-card>
        </div>
    </div>
</div>
